{% extends "base.html" %}

{% block content %}
<h1>Frequently Asked Questions</h1>
  <h3>How do you make a fried egg?</h3>
    <p>Making a fried egg is simple and we actually already have a <a href="/recipe/1">recipe</a> on that!</p>

  <h3>How many recipes are available?</h3>
    <p>There are currently {{ template_recipes | length }} available on this website!</p>

  <h3>How did you learn all of these recipes?</h3>
    <p>I trained under the late great Chef Boy. R. D. for 42 years.</p>
{% endblock %}